h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.group-date {
    padding: initial;
    display: block;
}
.form-control {
    height: 28px;
    /*width: 250px;*/
}
.form-group{
    margin-bottom:0.5em;
}
#break-line {
    height: 10px;
    background: #92d050;
}
label {
    font-size: 14px;
    display: inline-block;
    margin-bottom: .5rem;
    max-width: 100%;
    font-weight: bold;
}

.btn.btn-primary {
    background: #3288e6;
    color: #fff;
}

.btn {
    border: #c5c5c5 1px solid;
    padding-top: 4px;
    padding-bottom: 4px;
}

.field-validation-valid {
    display: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #317eac;
}

@media only screen and (max-width: 768px) {
    label {
        text-align: left;
    }
}

@media only screen and (max-width: 823px) {
    .report-sign {
        margin-left: 50%;
    }
}

@media only screen and (width: 568px) {
    .group-date {
        width: 245px;
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('bootstrap-3.1.1/fonts/glyphicons-halflings-regular.eot');
    src: url('bootstrap-3.1.1/fonts/glyphicons-halflings-regulard41d.eot?#iefix') format('embedded-opentype'), url('bootstrap-3.1.1/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('bootstrap-3.1.1/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    margin-left: -6px;
   
}

.glyphicon-calendar:before {
    content: "\e109";
}

#btn-date1, #btn-date2, #btn-date3, #btn-date4 {
    margin-bottom: 4.1px;
    height: 28px;
    padding-top: 2px;
    width: 28px;
    margin-left: 0px;
}

h3, .h3 {
    font-size: 24px !important;
}

h5, .h5 {
    font-size: 14px !important;
}

.nav-link{
    font-size:15px;
}

a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

